@import "./_static.scss";

.login-section {
  height: 100vh;
}

.login-section hr {
  height: 1px;
}

.login-title-wrapper {
  position: absolute;
  bottom: 0px;
  left: 0px;
  z-index: 1;
}

.login-subtitle,
.login-title {
  white-space: pre;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  color: white;
  font-weight: lighter;
}

.login-title {
  font-size: 36px;
}

.login-subtitle {
  font-size: 14px;
}

.login-subtitle:hover {
  cursor: pointer;
}

.login-image-full {
  background-image: url("./images/background(5).jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.9;
}

.login-right {
  width: 450px;
  float: right;
}

.login-card {
  height: 350px;
}

.login-card form {
  width: 100%;
}

.login-card input {
  margin-bottom: 10px !important;
  width: 80% !important;
}

.login-card button,
.login-card hr {
  margin-top: 15px;
  transition: all 0.3s;
}

.login-card button {
  height: 40px;
  border-radius: 20px;
  outline: none;
}

.login-icon-wrapper {
  height: 150px;
}

.login-primary-btn:hover,
.login-secondary-btn:hover,
.login-alt-btn:hover {
  cursor: pointer;
}

.login-secondary-btn {
  background-color: white;
  border: solid 2px $licorice;
  color: $licorice;
}

.login-secondary-btn:hover {
  background-color: $licorice;
  color: white;
}

.login-primary-btn {
  background-color: $licorice;
  color: white;
  border: solid 2px $licorice;
}

.login-alt-btn {
  background-color: $gray;
  color: white;
  border: solid 1px $gray;
}

.login-alt-btn:hover {
  background-color: $platinum;
}

@media screen and (max-width: 675px) {
  .login-title-wrapper,
  .login-image-full {
    display: none;
  }
  .login-right {
    width: 100%;
  }
}
