@import "./_static.scss";

.menu-section {
  z-index: 1;
  background-color: $gray;
  color: $licorice;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  &:hover {
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  position: relative;
}

.menu-section button:focus {
  outline: 0px !important;
  box-shadow: none !important;
}

.shrink {
  width: 0px;
  display: none;
}

.styled-pointer-wrapper {
  position: absolute;
  top: 5px;
  right: 15px;
}

.menu-item {
  min-height: 85px;
  position: relative;
}

.menu-section,
.menu-item,
.menu-icon,
.menu-text-wrapper {
  transition: all 0.3s ease;
}

.menu-item:hover {
  background-color: $platinum;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.menu-text-wrapper {
  text-align: center;
  font-weight: 450;
  font-size: 14px;
  overflow: hidden;
}

.icon-container {
  min-height: 40px;
  justify-content: flex-end;
  align-items: center;
}

.menu-icon {
  height: 35px;
  width: 35px;
  padding-bottom: 5px;
  z-index: 2;
  background-color: $licorice;
}

.shrink-icon {
  height: 25px;
  width: 25px;
  padding: 0 5px 0 5px;
}

.user-icon {
  -webkit-mask: url(./images/user-icon.svg) no-repeat center;
  mask: url(./images/user-icon.svg) no-repeat center;
}

.create-board-icon {
  -webkit-mask: url(./images/create-board.svg) no-repeat center;
  mask: url(./images/create-board.svg) no-repeat center;
}

.saved-boards-icon {
  -webkit-mask: url(./images/boards.svg) no-repeat center;
  mask: url(./images/boards.svg) no-repeat center;
}

.user-settings-icon {
  -webkit-mask: url(./images/settings.svg) no-repeat center;
  mask: url(./images/settings.svg) no-repeat center;
}

.github-icon {
  -webkit-mask: url(./images/github.svg) no-repeat center;
  mask: url(./images/github.svg) no-repeat center;
}

.logout-icon {
  -webkit-mask: url(./images/logout.svg) no-repeat center;
  mask: url(./images/logout.svg) no-repeat center;
}
