.notification-wrapper {
  position: fixed;
  top: 0px;
  right: 0px;
  z-index: 3;
  flex-wrap: wrap;
}

.notification-alert-wrapper {
  animation: slide-in 0.3s ease-in-out;
  border-radius: 10px;
  margin-bottom: 10px;
  background-color: white;
  width: 300px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  &:hover {
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
}

.notification-alert-close {
  -webkit-animation: slide-out 0.3s ease-in-out;
  animation: slide-out 0.3s ease-in-out;
}

@keyframes slide-in {
  0% {
    opacity: 0;
    transform: translateX(150px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes slide-out {
  0% {
    opacity: 1;
    transform: translateY(0px);
  }
  100% {
    opacity: 0;
    transform: translateX(150px);
  }
}

.notification-subheader-wrapper {
  min-height: 25px;
}

.notification-close {
  justify-content: flex-end;
}

.notification-close:hover {
  cursor: pointer;
}

.notification-error {
  color: red;
  font-weight: bold;
}

.notification-success {
  color: green;
  font-weight: bold;
}
